.time-item {
    background-color:rgb(70, 210, 70);
    border-radius:10px;
    padding: 1vh 5vh;
    font-size: 20px;
  }

  .time-item:hover{
    background-color: rgb(153, 230, 153);
  
  }

  .time-link{
    color: white;
    text-decoration:none;
    font-size: 25px;
  }

  .time-options{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header{
    display:flex;
    align-items:center;
    flex-direction: column;
  }
  #main-header{
    font-family: Helvetica, Sans-Serif;
    text-align:center;
    margin: 0.2vw;
    font-weight: 500;
  }
  #lesser-header{
    font-family: Helvetica, Sans-Serif;
    text-align:center;
    margin: 0.3vw;
    font-weight: 400;
  }

  #content-div{
    font-family: Helvetica, Sans-Serif;
    margin:25px;
  }

  #contents{
    font-size:30px;
    margin-bottom: 10px;
  }
  hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
  }
  #biography{
    font-family: Helvetica, Sans-Serif;
    background-repeat: no-repeat;
    background-image: url("../images/paper2.webp");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:600px;
    margin: 20px auto;
    padding: 20px;
    filter: brightness(1.05);
  }
  
  table{
    line-height:2rem;
    table-layout:fixed;
    width:600px;
    word-break:break-all;
  }

  #chapter{
    width:80px;
  }
  
  #song{
    width:455px;
  }
  
  #paper{
    display:flex;
    flex-direction:column;
  }

  #bio-title{
    margin-top:0;
    margin-bottom:5px;
    font-weight:500;
    font-size:40px;
  }

  #time-frame{
    margin:0;
    font-size:25px;
    margin-bottom:5px;
    font-weight:300;
  }

  #author{
    margin:0;
    font-size:15px;
    font-weight:300;
  }

  #blank-space{
    margin: 50px;
  }

  #download{
    background-color:rgb(70, 210, 70);
    border-radius:10px;
    padding: 1vh 5vh;
    font-size: 20px;
    color:white;
  }
  #btn-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }