{%load static%}
<title>Biographify</title>

<link rel="stylesheet" type="text/css" href="{%static '/css/index.css'%}"> </link>


<div id="header">
  <h1 id="main-header"> Biographify </h1>
  <h2 id="lesser-header"> Top Track Generator </h2>

  <button id="login-btn"><a id="login-link" href="{%url 'spotify:authorize'%}"> Log in with Spotify </a></button>
  
  <p class="about"> Biographify is a pet project created by Edward Xiao </p>
  <p class="about"> This project was fully inspired by Michelle Liu's <a id="inspire" target="blank_"href="https://receiptify.herokuapp.com/">Receiptify </a>App </p>
</div>

